name: Validate
permissions:
  contents: read

on:
  pull_request:
    branches: [main]
    paths:
      - ".goreleaser.yml"
      - "main.go"
      - "cmd/**"
      - "internal/**"
      - "go.mod"
      - "go.sum"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - name: Check GoReleaser config
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: check

      - name: Test GoReleaser build
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: build --snapshot --clean
